body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(231, 11%, 63%);
    padding: 6em;
}

.container{
    background-color: hsl(229, 24%, 87%);
    display: flex;
    padding: 1em;
    border-radius: 10px;
    color: hsl(231, 11%, 63%);
    width: 51em;
}

.sub{
    text-align: left;
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    width: 250px;
    height: 500px;
    padding: 20px;
}

.container p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

li:last-child{
    margin-bottom: 0;
}

.step-number{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
}

.step-description {
    display: flex;
    flex-direction: column;
}

.step-title {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.7;
}

.step-info {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}


.custom li:hover::before{
    color: hsl(206, 94%, 87%);
}

.subspace{
    color: hsl(213, 96%, 18%);
    margin: 20px 0;
    padding-left: 100px;
    padding-right: 20px;
    text-align: right;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.HP{
    display: inline-block;
}

.subspace h2{
    text-align: left;
}

.subspace p{
    color: hsl(231, 11%, 63%);
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ced4da;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-bottom-color 0.3s;
    text-align: left;
    outline: none;
}

button {
    color: white;
    background-color: hsl(213, 96%, 18%);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    padding: 15px;
    width: 110px;
    font-size: 1rem;
    float: right;
}

.error{
    border-color: #dc3545;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.button #submit{
    float: right;
}

.button #back{
    float: left;
}









