body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: hsl(231, 11%, 63%);
    display: flex;
}

.container{
    background-color: hsl(229, 24%, 87%);
    display: flex;
    justify-content: center;
    padding: 1em;
    border-radius: 10px;
    overflow: hidden;
    color: hsl(231, 11%, 63%);
    width: 80%;
}

.sub{
    text-align: left;
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    width: 500px;
    height: 500px;
    margin: auto;
}

.container p{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.custom{
    counter-reset: list-counter;
    list-style: none;
    padding-left: 0;
}

.custom li{
    counter-increment: list-counter;
    position: relative;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.custom li::before{
    content: counter(list-counter);
    position: absolute;
    top: 0;
    left: 0.5em;
    width: 1.7rem;
    height: 2rem;
    border-radius: 50%;
    border-style: solid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
}

.custom li:hover::before{
    color: hsl(206, 94%, 87%);
}

.custom li:hover:nth-last-child(ol){
    color: hsl(206, 94%, 87%);
}




